.addActivity,
.removeActivity {
    height: 55px;
    width: 55px;
    color: #FFFFFF;
    border-radius: 15px;
    border: none;
    box-shadow: var(--shadow);
    margin-left: 10px;
    font-size: 2.5em;
    cursor: pointer;
    transition: background-color 0.4s;
}

.addActivity {
    background-color: #6DEE7A;
}

.addActivity:hover {
    background-color: #5EC969;
}

.removeActivity {
    background-color: #EE6D6D;
}

.removeActivity:hover {
    background-color: #CC5959;
}

:global(.container) {
    display: flex;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 80%;
}

.added button {
    opacity: 0;
    transition: opacity 0.4s;
}

.added:hover button {
    opacity: 1;
}
