.content {
    width: calc(100% - 170px);
    background: #F1F1F1;
    padding: 100px;
    height: 100vh;
    overflow-y: auto;
}

.button {
    background-color: #43B4FF;
    font-size: 1em;
    height: 35px;
    width: 160px;
    color: #FFFFFF;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.4s;
}

.button:hover {
    background-color: #3694D2;
}